Hostnames in config.hosts should not be case sensitive

According to various Internet standards, hostnames and domain names should be considered case insensitive. Browsers and other tools therefore are often not case-preserving. [ActionDispatch::HostAuthorization](https://github.com/rails/rails/blob/v6.0.3.2/actionpack/lib/action_dispatch/middleware/host_authorization.rb), however, treats hostnames as case-sensitive.

### Relevant standards

Per [section 3.5](https://tools.ietf.org/html/rfc1034#section-3.5), "Preferred name syntax", of RFC1034, *Domain Names: Concepts and Facilities*:

> Note that while upper and lower case letters are allowed in domain names, no significance is attached to the case.  That is, two names with the same spelling but different case are to be treated as if identical.

Similarly, per [RFC952](https://tools.ietf.org/html/RFC952), *DOD Internet Host Table Specification*:

> A "name" (Net, Host, Gateway, or Domain name) is a text string up to 24 characters drawn from the alphabet (A-Z), digits (0-9), minus sign (-), and period (.) … No distinction is made between upper and lower case.

RFC 3490, *Internationalizing Domain Names in Applications*, [section 2](https://tools.ietf.org/html/rfc3490#section-2), “Terminology”, preserves this case-insensitive notion of equivalence:

> In IDNA, equivalence of labels is defined in terms of the ToASCII  operation, which constructs an ASCII form for a given label, whether   or not the label was already an ASCII label.  Labels are defined to    be equivalent if and only if their ASCII forms produced by ToASCII    match using a case-insensitive ASCII comparison.  ASCII labels
   already have a notion of equivalence: upper case and lower case are    considered equivalent.  The IDNA notion of equivalence is an    extension of that older notion.  Equivalent labels in IDNA are   treated as alternate forms of the same label, just as "foo" and "Foo"   are treated as alternate forms of the same label.

### Steps to reproduce

- on a Mac running macOS Catalina, open **System Preferences / Sharing** and set the **Computer Name** field to a mixed-case name, e.g. `MyMachine`.
- in the Terminal, run the `hostname` command.
- note that the value returned by `hostname` is the mixed-case `MyMachine.local`.
- in a Rails app, open `config/development.rb` add ``config.hosts << `hostname`.strip``
- start the app with `rails s`.
- in a second terminal, open a console with `rails console`.
- in the rails console, enter `Rails.application.config.hosts`.
- note that the hosts array includes `"MyMachine.local"`.
- in Chrome or Safari, either on this machine, or on another Mac, iPhone, or iPad on the same network, enter `http://MyMachine.local:3000/` into the address bar.
- note that the brower converts this to lower case, `mymachine.local:3000`.

### Expected behavior

- Application home page is loaded

### Actual behavior

- Error page:

  > **Blocked host: mymachine.local**
  >
  > To allow requests to mymachine.local, add the following to your environment configuration:
  >
  > `config.hosts << "mymachine.local"`

### System configuration

**Rails version**: 6.0.3.2

**Ruby version**: 2.7.1


For "string" hosts the change will straight forward.
But regex can be wild, so should we just leave them as is and add a warning in documentation?

```diff
diff --git a/actionpack/lib/action_dispatch/middleware/host_authorization.rb b/actionpack/lib/action_dispatch/middleware/host_authorization.rb
index de7739b9b6..0bd4509f78 100644
--- a/actionpack/lib/action_dispatch/middleware/host_authorization.rb
+++ b/actionpack/lib/action_dispatch/middleware/host_authorization.rb
@@ -34,7 +34,7 @@ def sanitize_hosts(hosts)
           Array(hosts).map do |host|
             case host
             when Regexp then sanitize_regexp(host)
-            when String then sanitize_string(host)
+            when String then sanitize_string(host.downcase)
             else host
             end
           end
```

@KapilSachdev sorry man, did not check if there was a PR before working on it.

Greetings @sandip-mane,
The PR was added as a draft so that it could be worked upon after a feedback from the maintainers as you can see it also lacked test cases.
I see that you have already added test cases for this change, so if you like, i will use those test cases and would add you as the `co-author`, sounds good?

The approach you have used has one slight indifferent behaviour (as per me) is that `/\A#{host}\z/i` will convert a string host to regex, thus changing the class.

Actually I was looking forward to ask @dmolesUC to contribute in case he is interested in authoring/co-authoring because of this interesting issue reported by him as it could be his first commit as a author in rails (though issue reports and commenting are also considered contributions but authoring is different :) ).

_That said, I think maintainers can add a `contrib-wanted` (from `puma`) label to issues that maintainers think would be easier for first-time contributors.
Just a thought to encourage first-time contributions. I suspect its feasibility though._

I had implemented it with `downcase` initially. The problem I faced there is to match the host with original host i.e. (`Example.local` matches with `example.local` but wont match to `Example.local` because we downcased it. We cannot downcase while matching it because in that case Regex hosts will also be downcased).

> will convert a string host to regex, thus changing the class.

In my personal opinion I think this is fine because its being whitelisted once and later its being used to validate to host. We don't need to backtrack the type.


Still since it's my very second commit to rails, I would appreciate maintainers' comments on this.


> i will use those test cases and would add you as the co-author, sounds good?

Yes, I guess it all depends on maintainers review. If they like regex way then they could take my commit, if not, you can add tests from my commit to yours(Not all will work though).

Either way I was going to close my PR as you seems interested in this issue 👍.

@KapilSachdev I wish I had time to work on this right now, but I don't. :( Thanks for looking into it!