Attachments not visible in mail clients when additional inline attachments present

When assembling an email with mixed inline / normal attachments, only the inline attachments (i.e. images) are shown. Some mail clients don't detect the attached files, the most prominent being Thunderbird and Outlook.

Code used with ActionMailer 3.0.10:

``` ruby
class MultipartTest < ActionMailer::Base
  def test_email(recipient)
    attachments['file1.pdf'] = File.read('/somewhere/file1.pdf')
    attachments['file2.pdf'] = File.read('/somewhere/file2.pdf')
    attachments.inline['image1.gif'] = File.read('/somewhere/image1.gif')
    mail(
      :to => recipient,
      :subject => 'Multipart test'
    )
  end
end
```

The generated email comes as follows:

```
multipart/related
  multipart/alternative
    text/plain
    text/html
  attachment (disposition: inline, image1)
  attachment (disposition: attachment, file1)
  attachment (disposition: attachment, file2)
```

While ActionMailer::Base::set_content_type() chooses multipart/related as soon as it detects at least one inline attachment, mail clients always wrap the attached files (disposition: attachment) in an additional multipart/mixed layer, conforming to RFC 2046, Section 5.1.3.

When leaving out the inline attachement, the MIME type generated by ActionMailer is correct (multipart/mixed) and the attachments are visible.

Here are some MIME layouts, as generated by mail clients:

```
multipart/mixed
  multipart/alternative
    text/plain
    multipart/related
      text/html
      attachment (disposition: inline, image1)
  attachment (disposition: attachment, file1)
  attachment (disposition: attachment, file2)
```

or:

```
multipart/mixed
  multipart/related
    multipart/alternative
      text/plain
      text/html
    attachment (disposition: inline, image1)
  attachment (disposition: attachment, file1)
  attachment (disposition: attachment, file2)
```


Can anyone explain how to use this code? <

```ruby
def fix_mixed_attachments
    # do nothing if we have no actual attachments
    return if @_message.parts.select { |p| p.attachment? && !p.inline? }.none?

    mail = Mail.new

    related = Mail::Part.new
    related.content_type = @_message.content_type
    @_message.parts.select { |p| !p.attachment? || p.inline? }.each { |p| related.add_part(p) }
    mail.add_part related

    mail.header       = @_message.header.to_s
    mail.bcc          = @_message.header[:bcc].value # copy bcc manually because it is omitted in header.to_s
    mail.content_type = nil
    @_message.parts.select { |p| p.attachment? && !p.inline? }.each { |p| mail.add_part(p) }

    @_message = mail
    wrap_delivery_behavior!(delivery_method.to_sym)
  end
```

I created this as a private method in my class: class StatementMailer < ActionMailer::Base

so in my mail method, I do this:

```ruby
  def monthly_email(user)
    user.attachments.each do |f|
      filename = File.basename(f)
      attachments[filename] = File.read(f)
    end

    # Add logo file
    attachments.inline['logo.jpg'] = \
      File.read(File.expand_path('../../assets/logo.jpg', __FILE__))

    fix_mixed_attachments # Workaround with inline and normal attachments
    mail(to: CONFIG[:to], subject: CONFIG[:subject]) do |format|
      format.html
    end
  end
```

But the attachments are still invisible on the iPhone's Mail client :( - any ideas?

This issue has been automatically marked as stale because it has not been commented on for at least
three months.

The resources of the Rails team are limited, and so we are asking for your help.

If you can still reproduce this error on the `4-2-stable`, `4-1-stable` branches or on `master`,
please reply with all of the information you have about it in order to keep the issue open.

Thank you for all your contributions.


I can still reproduce this issue with Rails 4.2.4

There has already been some discussion and solutions in the past: http://stackoverflow.com/questions/1118592/problem-sending-multipart-mail-using-actionmailer

But the provided solutions there do not work with Rails 4.x

@javinto any more details?

@dmitry no my use case basically is similar to that of icanhasserver. My problem occurs with Rails 4.1 but I can still repeat it with Rails 4.2.4 on my IOS 9.02 device.

@javinto @dmitry I have a failing test now - hopefully the fix shouldn't be too painful

I just got burned by this this morning @pixeltrix, came looking and 10 hours prior someone's found it also. Let me know if I can do anything to help on this issue.

@dannolan it'd be helpful if you can cast your eye over the possible structures below and point out any flaws:

```
# single, none
text/html

# single, inline
multipart/related
  text/html
  image/png

# single, attachment
multipart/mixed
  text/html
  application/pdf

# single, mixed
multipart/mixed
  multipart/related
    text/html
    image/png
  application/pdf

# multiple, none
multipart/alternative
  text/plain
  text/html

# multiple, inline
multipart/related
  multipart/alternative
    text/plain
    text/html
  image/png

# multiple, attachment
multipart/mixed
  multipart/alternative
    text/plain
    text/html
  application/pdf

# multiple, mixed
multipart/mixed
  multipart/related
    multipart/alternative
      text/plain
      text/html
    image/png
  application/pdf
```


I'm sorry. After a simple test from Apple Mail I cannot recognize the structures below. I'm not into mail structures. 
How can I recognize the indented structures from the Source view? There is no multipart/related used by Apple mail in my tests. 
Does your list conform to the official specs? 


> Op 16 okt. 2015, om 12:04 heeft Andrew White <notifications@github.com> het volgende geschreven:
> 
> @dannolan <https://github.com/dannolan> it'd be helpful if you can cast your eye over the possible structures below and point out any flaws:
> 
> # single, none
> text/html
> 
> # single, inline
> multipart/related
>   text/html
>   image/png
> 
> # single, attachment
> multipart/mixed
>   text/html
>   application/pdf
> 
> # single, mixed
> multipart/mixed
>   multipart/related
>     text/html
>     image/png
>   application/pdf
> 
> # multiple, none
> multipart/alternative
>   text/plain
>   text/html
> 
> # multiple, inline
> multipart/related
>   multipart/alternative
>     text/plain
>     text/html
>   image/png
> 
> # multiple, attachment
> multipart/mixed
>   multipart/alternative
>     text/plain
>     text/html
>   application/pdf
> 
> # multiple, mixed
> multipart/mixed
>   multipart/related
>     multipart/alternative
>       text/plain
>       text/html
>     image/png
>   application/pdf
> —
> Reply to this email directly or view it on GitHub <https://github.com/rails/rails/issues/2686#issuecomment-148673410>.
> 



@javinto I'm using the pattern in the original report by @icanhasserver - top level is message content type and then each indent is a different nested part level and each line is a part and the text is the content type.

this problem is still present in rails 5

PR to fix this, with test, at https://github.com/rails/rails/pull/26445

@pixeltrix I agree those possible structures are accurate, and are what I use (well, I never don't have a text/plain part :) ). If your inline image was totally superfluous, and could be hidden from the text/plain user (e.g. a footer image), then you could theoretically do mixed(alternative(plain, related(html, inline)), attachment), but better not do that currently.

@prathamesh-sonpatki @maclover7 @rafaelfranca @matthewd I imagine there is some satisfaction to be gained from being able to close Rails' oldest open issue. Any chance of an update from someone on the Rails team regarding this open PR?