responses to HEAD requests have no Content-Length

RFC2616 [§9.4](https://tools.ietf.org/html/rfc2616#section-9.4) HEAD says that headers should match the equivalent GET request, but rails does not behave this way for `Content-Length`. Below, the currently failing case `test_head_content_length_on_implicit_method` shows the expected and actual behavior.

It's reasonable to not to follow §9.4 in order to conserve server resources, but in that case, the intended behavior should be documented.

※ This issue is *not* about what happens when a rails developer explicitly calls #head from a controller. In that case, the developer should decide about setting `Content-Length`, and the current rails behavior is correct.

**Rails version:** 6.0.2.1
**Rack version:** 2.1.2

```ruby
#!/usr/bin/env ruby

require 'bundler/inline'

gemfile(true) do
  source 'https://rubygems.org'
  git_source(:github) { |repo| "https://github.com/#{repo}.git" }
  gem 'rails', '~> 6.0.2'
end

require 'rack/test'
require 'action_controller/railtie'

class TestApp < Rails::Application
  config.root = __dir__
  config.hosts << 'example.org'
  config.session_store :cookie_store, key: 'cookie_store_key'
  secrets.secret_key_base = 'secret_key_base'

  config.logger = Logger.new($stdout)
  Rails.logger  = config.logger

  routes.draw do
    get '/implicit' => 'test#implicit_content_length'
    get '/explicit' => 'test#explicit_content_length'
  end
end

BODY = 'hello'
SIZE = BODY.bytesize.to_s

class TestController < ActionController::Base
  include Rails.application.routes.url_helpers

  def implicit_content_length
    render plain: BODY
  end

  def explicit_content_length
    response.set_header 'Content-Length', SIZE
    render plain: BODY
  end
end

require 'minitest/autorun'

class BugTest < Minitest::Test
  include Rack::Test::Methods

  def test_get_content_length_on_implicit_method
    get '/implicit'
    assert_equal SIZE, last_response.headers['Content-Length']
  end

  def test_head_content_length_on_implicit_method
    head '/implicit'
    assert last_response.headers['Content-Length']
    assert_equal SIZE, last_response.headers['Content-Length']
  end

  def test_get_content_length_on_explicit_method
    get '/explicit'
    assert_equal SIZE, last_response.headers['Content-Length']
  end

  def test_head_content_length_on_explicit_method
    head '/explicit'
    assert last_response.headers['Content-Length']
    assert_equal SIZE, last_response.headers['Content-Length']
  end

  private

  def app
    Rails.application
  end
end
```

Rails doesn't set the Content-Length header; in your test script it's set by Rack. Can you reopen this issue on the Rack repo, ideally after confirming that it sets the header in your actual application?