rails route path include special character

# Problem
I set resources: projects in my routes, then i have the project_path(id), but the id which maybe the special character so that the url which can include special character. So, when you visit the url,  you have an error .how i use CGI.escape id in application controller.Than you very much!

Hi @kunkaiHuang, this issue tracker is purely for tracking bugs in Rails - for help with your application please use Stack Overflow, mailing lists or IRC. However, you should be able to just use the special character and it will be encoded properly, e.g assuming `resources :projects` is in your routes.rb file:

```
>> app.project_path("😀")
=> "/projects/%F0%9F%98%80"
```

The URL must percent encode any non-ASCII graphic characters - from: 
https://en.wikipedia.org/wiki/Uniform_Resource_Identifier

```
Strings of data octets within a URI are represented as characters.
Permitted characters  within a URI are the ASCII characters for the
lowercase and uppercase letters of the  modern English alphabet,
the Arabic numerals, hyphen, period, underscore, and tilde. Octets
represented by any other character must be percent-encoded.
```

Thank you very much,friends. My problem is the id may be special character like
the id may be include '+', so that i should use CGI.escape to it   as  %2B. The id is the form that user input, I can not change it , so that i want to reset the path method in application.rb. For example,
```
def project_path(project, id)
   def project_path(project, CGI.escape(id))
   end
end
```
But is unuseful

@kunkaiHuang the `+` doesn't need to encoded when it's in the path as it's a valid path character according to [RFC 3986 Section 3.3][1], e.g:

```
>> app.project_path("my-project+")
=> "/projects/my-project+"
>> app.get("/projects/my-project+")
=> 200
>> app.request.params
=> {"controller"=>"projects", "action"=>"show", "id"=>"my-project+"}
```

Where it does need to be encoded as `%2B` is in the query params - again the url helper will take care of it for you:

```
>> app.project_path("1", query: "+")
=> "/projects/1?query=%2B"
```

[1]: https://tools.ietf.org/html/rfc3986#section-3.3


Hi, @pixeltrix .Thank you very much. But the other special character like %. If i do not CGI.escape  it to '%25', when i click the url link . It will have an error. And the url helper will not  take care of it for me.

Hello friends,@pixeltrix ! I hava many rails path,For example, project_kind_path(@project, kind.name),which will have a url like '/aabb/ccdd/kind/wq%wq'. If i click the url , i will have a error.In my opinion , I should use project_kind_path(@project, CGI.escape(kind.name)), so that i will have a correct url like "/aabb/ccdd/kind/wq%25wq". The problem that I have a lot of path. such as , project_a_path(@project, a.name), project_b_path(@project, b.name), project_c_path(@project, c.name).And project_a_path(@project, a.name) , I use it much times.Can i have a good way to deal this problem?Thank you very much ,friends!

@kunkaiHuang please provide some sample code that produces that url because it doesn't for me:

```
>> app.project_path('wq%wq')
=> "/projects/wq%25wq"
```

If you're manually creating that url or typing it in the browser then that's not a Rails problem. I've even checked for glob paths and they work correctly too, e.g:

``` ruby
get "/pages/*id", to: "pages#show", as: :page
```
```
>> app.page_path('foo/bar/wq%wq')
=> "/pages/foo/bar/wq%25wq"
```

I think what you're trying to say is that URLs aren't being escaped properly but everything I've tried says that they are so please create an [executable test case][1] where it fails and I will have a look again.

[1]: http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case

May be the rails version of me!
![2017-08-01 17-32-36](https://user-images.githubusercontent.com/13317207/28819033-7fe2e5d6-7672-11e7-97e5-71e754bbc192.png)


@kunkaiHuang yes, that would make a difference - the behaviour was changed in 5460591f0226a9d248b7b4f89186bd5553e7768f (Rails 4.2 and later).

If you need a solution for your app then you may be able to monkey path `Journey::Router::Utils.escape_path` to encode `%` characters but our recommendation would be to upgrade your application.

@pixeltrix Good job! Thank you very much!

HI @defunkt 

@defunkt 