Namespaced UUIDs are not generated correctly when the namespace ID provided is the string representation of a UUID

### Steps to reproduce
```ruby
# frozen_string_literal: true

require "bundler/inline"

gemfile(true) do
  source "https://rubygems.org"

  git_source(:github) { |repo| "https://github.com/#{repo}.git" }

  # Activate the gem you are reporting the issue against.
  gem "activesupport", "6.0.0"
end

require "digest"
require "active_support/core_ext/digest"
require "minitest/autorun"

class NamespacedUUIDIssueTest < Minitest::Test
  def test_stuff
    assert_equal "21f7f8de-8051-5b89-8680-0195ef798b6a", Digest::UUID.uuid_v5("6BA7B810-9DAD-11D1-80B4-00C04FD430C8", "www.widgets.com")
    assert_equal "21f7f8de-8051-5b89-8680-0195ef798b6a", Digest::UUID.uuid_v5("6ba7b810-9dad-11d1-80b4-00c04fd430c8", "www.widgets.com")
    assert_equal "21f7f8de-8051-5b89-8680-0195ef798b6a", Digest::UUID.uuid_v5(Digest::UUID::DNS_NAMESPACE, "www.widgets.com")
  end
end
```

### Expected behavior
According to [Section 4.3 of the RFC 1422](https://tools.ietf.org/html/rfc4122#section-4.3), any UUID could be used as a namespace ID when generating a version 3 or version 5 UUID. The algorithm must return the same result if the namespace ID parameter is the same, for the same value.

Also, according to [Section 3 of the RFC 4122](https://tools.ietf.org/html/rfc4122#section-3), a UUID string representation should be hexadecimal, with the lower-cased version being the one used for the output, while the input is case-insensitive.

### Actual behavior
The methods available on `Digest::UUID` to generate version 3 and version 5 UUIDs only work properly (i.e. return correct results when compared to different implementations) when the namespace ID parameter is a UUID formatted as array of integers packed in a binary sequence.

This ensures the correct behaviour when using one of the provided constants as the namespace, but makes it hard (if not misleading) to work with other namespace ID values.

For example, the `Digest::UUID::DNS_NAMESPACE` constant contains the binary representation described above for the DNS namespace ID, whose string representation is `6ba7b810-9dad-11d1-80b4-00c04fd430c8` according to [RFC 1422, Appendix C](https://tools.ietf.org/html/rfc4122#appendix-C). This is the output we get when generating a UUID for the `www.widgets.com` domain using this constant as the namespace ID:

```ruby
require "digest"
require "active_support/core_ext/digest"

Digest::UUID.uuid_v5(Digest::UUID::DNS_NAMESPACE, "www.widgets.com")
=> "21f7f8de-8051-5b89-8680-0195ef798b6a" # Correct value
```

However, if we use the string representation for the same namespace ID, the result is different:

```ruby
require "digest"
require "active_support/core_ext/digest"

Digest::UUID.uuid_v5("6ba7b810-9dad-11d1-80b4-00c04fd430c8", "www.widgets.com")
=> "027963ef-431c-5670-ab2c-820168da74e9" # Wrong value
```

Even worse, if we use the same UUID as the namespace ID, but with a different casing, we get yet another output:

```ruby
require "digest"
require "active_support/core_ext/digest"

Digest::UUID.uuid_v5("6BA7B810-9DAD-11D1-80B4-00C04FD430C8", "www.widgets.com")
=> "442faf6c-4996-5266-aeef-ecadb5d49e54"
```

This can be very misleading if one is using a random UUID as a namespace ID, since the result will certainly be different than expected:

```ruby
require "digest"
require "active_support/core_ext/digest"

namespace_id = SecureRandom.uuid
=> "297ce418-5b6a-4273-b0d8-0d0978d1817b"

Digest::UUID.uuid_v5(namespace_id, "my_value")
=> "f8a52e6a-fe75-5e42-8511-6a559db14197" # Wrong value, it should be 1a38537b-16aa-524e-b886-1f7c0ada0e55
```

The correct value can be verified using other implementations:

```python
# Python, using the UUID module
import uuid

namespace_id = uuid.UUID('297ce418-5b6a-4273-b0d8-0d0978d1817b')
uuid.uuid5(namespace_id, 'my_value')
=> UUID('1a38537b-16aa-524e-b886-1f7c0ada0e55')
```

```ruby
# Ruby, using the UUIDTools gem
require "uuidtools"

namespace_id = UUIDTools::UUID.parse("297ce418-5b6a-4273-b0d8-0d0978d1817b")
UUIDTools::UUID.sha1_create(namespace_id, "my_value")
=> #<UUID:0x3fe615023678 UUID:1a38537b-16aa-524e-b886-1f7c0ada0e55>
```

The only way to get the correct value using the current implementation, is to convert the namespace ID using the same binary format described, before calling the method:

```ruby
require "digest"
require "active_support/core_ext/digest"

namespace_uuid = "297ce418-5b6a-4273-b0d8-0d0978d1817b"
=> "297ce418-5b6a-4273-b0d8-0d0978d1817b"
namespace_id = namespace_uuid.scan(/(\h{8})-(\h{4})-(\h{4})-(\h{4})-(\h{4})(\h{8})/).flatten.map { |s| s.to_i(16) }.pack("NnnnnN")
=> ")|\xE4\x18[jBs\xB0\xD8\r\tx\xD1\x81{"
Digest::UUID.uuid_v5(namespace_id, "my_value")
=> "1a38537b-16aa-524e-b886-1f7c0ada0e55"
```

### System configuration
**Rails version**: 6.0.0

**Ruby version**: 2.6.5p114

