@al2o3cr:

> The HTTP specs (RFC2616 via reference to RFC822) indicate that header values should be ASCII strings; sending anything else is not compliant. Neither is sending URIs that contain non-ASCII characters. It sounds like IE is the one falling down on the job here...

This is untrue in RFC2616, though arbitrary bytes is only allowed for "historical reasons" in its successor RFCs (7230–7235). 

What RFC7230 says is:

>    Historically, HTTP has allowed field content with text in the   ISO-8859-1 charset [ISO-8859-1], supporting other charsets only   through use of [RFC2047] encoding.  In practice, most HTTP header
   field values use only a subset of the US-ASCII charset [USASCII].   Newly defined header fields SHOULD limit their field values to   US-ASCII octets.  A recipient SHOULD treat other octets in field
   content (obs-text) as opaque data.

Therefore, we SHOULD (in the RFC 2119 sense) be treating it as opaque data instead of trying to decode it as UTF-8 and dying.

@gsnedders so I take it from that Rails is doing the right thing? AFAICS we only force encoding to UTF8 when we're parsing parameters.

@pixeltrix Per spec, yes.

If you care about what browsers do when receiving content… well, that's a mess. Partly it depends on header. In general, browsers use either Windows-1252 (i.e., the Windows codepage graphical superset of ISO-8859-1) or the system locale.

There's also RFC5987 which provides a mechanism to declare encoding for some things in HTTP headers (some browsers only support the values "ISO-8859-1" (interpreted as Windows-1252, as is the case everywhere on the web platform) and "UTF-8"), most notably filenames in `Content-Disposition`.

There's `Location` where non-ASCII bytes are just pct-encoded before getting sent back to the server (i.e., `Location: http://example.com/\xFF` is decoded to the ASCII string `Location: http://example.com/%FF`), except for in (old?) IE where the bytes just get sent back, potentially making the request break the spec (as the request URL must be ASCII).

So, what does this mean for Rails? Probably that everything should be handed over as binary data, and hence the current behaviour is right. There's definitely the argument that it's not the most useful behaviour for users, though…

I think my view is, as pertains to Rails' behaviour, roughly:

 * APIs that return any arbitrary header should return binary strings without trying to interpret it beyond what's applicable to all headers (i.e., primarily whitespace normalisation).
 * APIs that return specific data (from a header) should interpret that data… somehow. (This is complicated by IE being the worst here, and IE's behaviour depending on system locale.)

This rather implies adding some more APIs so people don't have to implement the decoding themselves (for `referer`, and changing some existing ones (all the ones derived from the request URL, i.e., `original_url`, `original_fullpath`, `base_url`, etc.).