Accept header is overwritten by xhr: true in integration test

### Steps to reproduce

In Rails integration test, if I set `Accept: application/json` headers, I can see the response `Content-Type` is `application/json`. But If I use `xhr: true`, then the test suit changes `Accept` header and makes both request `Accept` and response `Content-Type` wrong.

### Expected behavior

```ruby
class PageTest < ActionDispatch::IntegrationTest
  test "Header 'Accept' with xhr: true" do
    get '/page', headers: { 'Accept' => 'application/json' }, xhr: true

    assert_equal '/page', request.path_info
    assert_equal 'application/json', request.accept
    assert_equal 'application/json', response.content_type
  end

end
```

### Actual behavior

```ruby
class PageTest < ActionDispatch::IntegrationTest
  test "Header 'Accept' with xhr: true" do
    get '/page', headers: { 'Accept' => 'application/json' }, xhr: true

    assert_equal '/page', request.path_info
    # This is WRONG! And the response.content_type is also affected.
    assert_equal "text/javascript, text/html, application/xml, text/xml, */*", request.accept
    assert_equal 'text/html', response.content_type
  end
end
```

### System configuration

**Rails version**: 5.0.0 and master

**Ruby version**: 2.3.0p0

### Reason & Solution

The issue is in `ActionDispatch::Integration::RequestHelpers`. See [here](https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/testing/integration.rb#L363-L367). When `xhr` is set, the code sets `HTTP_ACCEPT`, but it's a CGI variable style, not an HTTP header style.

The simplest solution is to both check `Accept` and transform to `HTTP_ACCEPT` instead, like this:

```ruby
# Modify this
headers['HTTP_ACCEPT'] ||= [Mime[:js], Mime[:html], Mime[:xml], 'text/xml', '*/*'].join(', ')
# To this
headers['HTTP_ACCEPT'] ||= headers.delete('Accept') || [Mime[:js], Mime[:html], Mime[:xml], 'text/xml', '*/*'].join(', ')
```

In this case, mo matter the developer passes `HTTP_ACCEPT` (CGI variable) and `Accept` (HTTP header), it'll work fine.

If you think this works, I'm glad to create a PR.



Yes, I believe this should be configurable.
cc @kaspth 

It seems like the Accept header has been overwritten since forever, here's the commit that made it so HTTP_ACCEPT wasn't overwritten: https://github.com/rails/rails/commit/1310231c15742bf7d99e2f143d88b383c32782d3#diff-10fe6042467f976876162998f6e3aa96R151

However, it seems like way back in 2007, it was the Accept header that was set in integration tests and the HTTP_ACCEPT was used in controller tests — I don't know why that was changed.

Here's a commit for integration tests that basically does exactly this. Allowing override of the Accept header: https://github.com/rails/rails/commit/436da684dc3e85c4251d6e586913b8520add8638#diff-8fc72432e646ba99d17fa74b08481194R190

I'm not too fond of just adding `headers.delete('Accept')` without understanding why we switched to HTTP_ACCEPT, e.g. if that was a mistake or what else. @darkbaby123 please do try finding that out and submit a PR! ❤️

@kaspth No problem. I'll check these commits to have a better understanding first 😄 

After digging into Rails and Rack, I think I can answer your questions. And I'll prepare the PR in these days. Below is some explanation. 

### Why Rails switch to HTTP_ACCEPT

I think it's because of Rack. Rack puts all HTTP headers in a single `env` variable. See below

Rack env variable:

> The environment must be an instance of Hash that includes CGI-like headers. The application is free to modify the environment. The environment is required to include these variables (adopted from PEP333), except when they’d be empty, but see below.

HTTP_ Variables

> Variables corresponding to the client-supplied HTTP request headers (i.e., variables whose names begin with HTTP_). The presence or absence of these variables should correspond with the presence or absence of the appropriate HTTP header in the request. See <a href=“tools.ietf.org/html/rfc3875#section-4.1.18”> RFC3875 section 4.1.18</a> for specific behaviour.

Rails does support both HTTP headers and CGI variables when getting/setting headers, but it stores the header keys as CGI-like name internally (in `ActionDispatch::Request`). I think the reasons is to easily integrate with Rack. In 2007 I didn't think Rack even exist. And in master branch I can't find Rails code use HTTP header style (except test).

One example to show Rails's auto key transform:

```ruby
headers = ActionDispatch::Http::Headers.from_hash({})
headers['Accept'] = 'application/json'
headers['Accept'] # => 'application/json'
headers['HTTP_ACCEPT'] # => 'application/json'
```

### What is this issue about

Rails itself doesn't have issue. The issue is the `ActionDispatch::Integration::RequestHelpers` which is just used in test code. The xhr related code used `headers['HTTP_ACCEP'] ||= xxx` to avoid overwritten. But it doesn't consider that the developers can pass either HTTP header naming or CGI variable naming. This is what Rails allows in http://guides.rubyonrails.org/testing.html#setting-headers-and-cgi-variables

```ruby
# setting an HTTP Header
get articles_url, headers: "Content-Type" => "text/plain" # simulate the request with custom header
 
# setting a CGI variable
get articles_url, headers: "HTTP_REFERER" => "http://example.com/home" # simulate the request with custom env variable
```

### Solution

Again, the simplest solution is `headers.delete('Accept')`. But it just solves this xhr issue. So my idea is to use `ActionDispatch::Http::Headers` to do key transformations. The example is like this:

Current implementation

```ruby
if xhr
  headers ||= {}
  headers['HTTP_X_REQUESTED_WITH'] = 'XMLHttpRequest'
  headers['HTTP_ACCEPT'] ||= [Mime[:js], Mime[:html], Mime[:xml], 'text/xml', '*/*'].join(', ')
end

# this modifies the passed request_env directly
if headers.present?
  Http::Headers.from_hash(request_env).merge!(headers)
end
if env.present?
  Http::Headers.from_hash(request_env).merge!(env)
end
```

New implementation

```ruby
# tmp_headers is just use for key transform
tmp_headers = Http::Headers.from_hash(request_env)

tmp_headers.merge!(headers) if headers.present?

if xhr
  tmp_headers['HTTP_X_REQUESTED_WITH'] = 'XMLHttpRequest'
  tmp_headers['HTTP_ACCEPT'] ||= [Mime[:js], Mime[:html], Mime[:xml], 'text/xml', '*/*'].join(', ')
end

tmp_headers.merge!(env) if env.present?
```

Now the only tricky part is, code like `Http::Headers.from_hash(request_env).merge!(env)` use side effect to update `request_env`. It's very hard to understand the`request_env` is modified without the comments. I'm thinking if `headers.to_h` can replace the `request_env` in code below. Will investigate when writing the code.

> So my idea is to use `ActionDispatch::Http::Headers` to do key transformations

:+1:

Stellar research! Yeah, let's continue in a PR 👏

Having the same issue with:
```ruby
post url, as: :json, xhr: true
```
Is this a new issue?